[submodule "roms/blargg"]
	path = roms/blargg
	url = https://github.com/retrio/gb-test-roms.git
[submodule "roms/same_suite"]
	path = roms/same_suite
	url = https://github.com/YushiOMOTE/SameSuite.git
